In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

music_data = pd.read_csv("Resources/top10s.csv", encoding = "ISO-8859-1")

In [15]:
music_data_df=pd.DataFrame(music_data,columns=['title','artist','year','nrgy','dnce','val','pop'])

In [17]:
music_data_df.head()

                  title      artist  year  nrgy  dnce  val  pop
0      Hey, Soul Sister       Train  2010    89    67   80   83
1  Love The Way You Lie      Eminem  2010    93    75   64   82
2               TiK ToK       Kesha  2010    84    76   71   80
3           Bad Romance   Lady Gaga  2010    92    70   71   79
4  Just the Way You Are  Bruno Mars  2010    84    64   43   78

In [25]:
music_data_by_year_df=music_data_df.groupby('year').mean()
music_data_by_year_df

           nrgy       dnce        val        pop
year
2010  77.901961  64.529412  57.000000  64.254902
2011  74.886792  63.641509  53.698113  61.867925
2012  75.485714  65.714286  64.171429  67.771429
2013  73.873239  62.042254  53.183099  63.985915
2014  67.775862  62.534483  52.086207  62.706897
2015  70.336842  63.663158  52.526316  64.568421
2016  67.237500  63.325000  45.150000  64.162500
2017  69.169231  65.369231  52.276923  69.015385
2018  65.468750  67.203125  48.765625  72.437500
2019  64.741935  69.709677  50.806452  84.354839