In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

music_data = pd.read_csv("Resources/top10s.csv", encoding = "ISO-8859-1")

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

,Unnamed: 0,Title,Artist,Top Genre,Year,Beats per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Duration (sec),Acousticness,Speechiness,Popularity
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

,Title,Artist,Year,Energy,Danceability,Valence,Popularity
0,"Hey, Soul Sister",Train,2010,89,67,80,83
1,Love The Way You Lie,Eminem,2010,93,75,64,82
2,TiK ToK,Kesha,2010,84,76,71,80
3,Bad Romance,Lady Gaga,2010,92,70,71,79
4,Just the Way You Are,Bruno Mars,2010,84,64,43,78

         Energy  Danceability    Valence  Popularity
Year
2010  77.901961     64.529412  57.000000   64.254902
2011  74.886792     63.641509  53.698113   61.867925
2012  75.485714     65.714286  64.171429   67.771429
2013  73.873239     62.042254  53.183099   63.985915
2014  67.775862     62.534483  52.086207   62.706897
2015  70.336842     63.663158  52.526316   64.568421
2016  67.237500     63.325000  45.150000   64.162500
2017  69.169231     65.369231  52.276923   69.015385
2018  65.468750     67.203125  48.765625   72.437500
2019  64.741935     69.709677  50.806452   84.354839

Top Genre
alaska indie                              [alaska indie]
alternative r&b                        [alternative r&b]
atl hip hop                                [atl hip hop]
australian dance                      [australian dance]
australian hip hop                  [australian hip hop]
belgian edm                                [belgian edm]
big room                                      [big room]
boy band                                      [boy band]
british soul                              [british soul]
brostep                                        [brostep]
canadian contemporary r&b    [canadian contemporary r&b]
canadian hip hop                      [canadian hip hop]
canadian latin                          [canadian latin]
celtic rock                                [celtic rock]
chicago rap                                [chicago rap]
complextro                                  [complextro]
contemporary country              [contemporary country]
detroit hip hop                        [detroit hip hop]
downtempo                                    [downtempo]
edm                                                [edm]
electro                                        [electro]
electro house                            [electro house]
electronic trap                        [electronic trap]
escape room                                [escape room]
hip hop                                        [hip hop]
hollywood                                    [hollywood]
house                                            [house]
irish singer-songwriter        [irish singer-songwriter]
latin                                            [latin]
metropopolis                              [metropopolis]
neo mellow                                  [neo mellow]
permanent wave                          [permanent wave]
pop                                                [pop]
tropical house                          [tropical house]
Name: Top Genre, dtype: object